<h1>Input Page</h1>
<br />
<div class="format">
  <ng-container *ngIf="!fileSelected; else fileSelectedBlock">
    <input
      type="file"
      class="file-input"
      accept=".csv"
      (change)="onFileSelected($event)"
      placeholder="Custom 'No file selected' string"
      #fileInput
    />
  </ng-container>

  <ng-template #fileSelectedBlock>
    <div class="file-upload">
      <p class="file-name">{{ fileName || "No file selected" }}</p>
      <button class="btn btn-secondary" (click)="changeFile()">
        Change File
      </button>
      <button class="btn btn-primary" (click)="onUpload()">Upload</button>
    </div>

    <!-- To choose a number between 2-5 for number of clusters-->
    <div class="form-group">
      <label for="clusterNumber">Number of Clusters</label>
      <select
        class="form-control"
        id="clusterNumber"
        [(ngModel)]="clusterNumber"
        name="clusterNumber"
      >
        <option *ngFor="let num of clusterNumbers" [value]="num">
          {{ num }}
        </option>
      </select>
    </div>
  </ng-template>
</div>
